*{
  margin: 0;
  padding: 0;
}
ion-avatar{
  margin-bottom: 1rem;
}

h1{
  margin-bottom: 1rem;
}
h2{
  margin-bottom: 1rem;
}


.container{
  // background-image: url(../../assets/bg.png);
  // background-position: 50%;
  // background-repeat: no-repeat;
  // background-size: contain;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
.btn{
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right, rgb(221, 0, 255) , rgb(60, 0, 255));
  font-size: 1em;
  padding: 1.4rem;
  height: 3.6rem;
  width: 20rem;
  border-radius: 0.6rem;
}
.btn:hover{
  opacity: 0.8;
}
.btnParent{
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: end;
}


